<div class="ui-g">
  <div class="ui-g-12">
    <p-table [value]="vendas">
        <ng-template pTemplate="caption">
            Listagem de vendas
          </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th class="col-header-id">Código</th>
          <th>Cliente</th>
          <th>Data Cadastro</th>
          <th>Total</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-vendas>
        <tr>
          <td>{{ vendas.id }}</td>
          <td>{{ vendas.clienteDTO.nome }}</td>
          <td class="col-data">{{ vendas.cadastro | date:'dd/MM/yyyy'}}</td>
          <td class="col-numero">{{ vendas.total | currency:'BRL':true}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>